@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


li {
    list-style-type: none;
    padding: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    color:rgb(100, 21, 255);
    text-decoration: underline;
    cursor: pointer;
}

.nav__btn:hover {
    cursor: pointer;
    background-color: rgb(80,17,204);
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    align-items: center;
    margin: 0 24px;
    padding: 0 0 4px;
    color: #243e63;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--text {
    font-weight: 900px;
    padding-right: 4px;
    margin: 0 24px 0 0;
    color: #243e63;
}

.nav__logo--text:hover {
color: rgb(100, 21, 255);
cursor: pointer;
}

.nav__btn {
    background-color: rgb(100, 21, 255);
    color: #f7fafc;
    padding: 12px 32px;
    border-radius: 40px;
    border: none;
}

.nav__logo--top {
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__title{
    color: #1a202c;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-height: 60vh;
    justify-content: space-evenly;

}


.header__desription--companies {
    
    display:block;
    width: 100%;
    max-width: 400px;
    height: auto;
}
.header__description > *{
    margin: 0;
}

.header__description--email-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 50px;
}

.email__input {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 40px;
}

.submit__button {
    z-index: 2;
    height: 40px;
    width: 160px;
    margin-right: 5px;
    background-color:#6415ff;
    color:#f7fafc;
    border-radius: 40px;
    border: none;
}

.submit__button:hover {
    cursor: pointer;
    background-color:rgb(80,17,204); 
}

.header__description--design {
width: 60%;

}

img {
    width: 100%;
    display:block;
}


/* 

FEATURES ↓

*/


#features {
    position: relative;
}


#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    width: 100%;
    color: #6415ff;
    letter-spacing: 1.6px;
}

#features,
.section__title {
    text-align: center;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features
.section__para {
    text-align:center;
    max-width: 576px;
}

.section__para {
    font-size: 18px;
    font-weight: 500px;
    color: #7c8ba1;
    line-height: 1.625;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    height: 24px;
    width: 24px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.features__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    min-width: 250px;
}

.feature__description {
    display: flex;
    flex-direction: column;
}

.section__tag {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1em;
}



/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description {
    
}

.quality__description,
 .quality__img--wrapper{
    display: flex;
    flex-direction: column;
}

.section__tag {
    font-size: 16px;
    color:#6415ff;
    letter-spacing: 1.6px;
    font-weight: 700px;
}


.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    
    margin: 16px 0;
    letter-spacing: 0.025em;
    text-align: left;
}

.section__para {
    font-size: 18px;
    font-weight: 500px;
    color:#7c8ba1;
    line-height: 1.625;
}

#quality .btn {
    margin-top: 32px;
}

.btn__section {
    background-color:#6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
    margin-top: 36px;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__description,
.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    z-index: 1;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__description,
.steps__img--wrappoer {
    width: 50%;
}

.steps__img {
    z-index: 2;
}

img {
    width: 100%;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.steps__description,
 .steps__img--wrapper {
    width: 50%;
 }

 .section__tag {
    font-size: 16px;
    color:#6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
 }

 .section__title {
    font-size: 48px;
    font-weight: 900;
    color:rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
 }

 .step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
 }

 .step__number {
    color:#cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
 }

 .step__description{
    margin-left: 24px;
    
}

 .step__title {
    font-weight: 600;
    font-size: 20px;
    color:#243e63;
    line-height: 1;
 }

 .step__para {
    font-size: 14px;
    color:#718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
    max-width: 20rem;
 }

 .step__number {
    color:#cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
 }

 .step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
 }
/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}